//baraye tamiz shdn codemon hame variables ro avordim inja :)

$primary-color: #444;
$secondary-color: #eece1a;
//akse background
$show-home-image: true;
$home-image: url(../img/background.jpg);
//opacity bg ro azinja mmishe taqir dad mske
$background-opacity: 0.9;

@mixin easeOut {
  // baes mishe faqad zard nashe yohoii balke
  //ye transition(css animation) az dakhel be biron(ease-out) ke jlve ii bas zibast bma bde
  //https://www.w3schools.com/Css/css3_transitions.asp
  //mitonestimfaqadbgimcolor ama all gozashtim ke vase jaie dige ham bshe azsh estefade krd
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      //aks hameye safhe ro cover kone
      background-size: cover;

      //in hamon overlay ya sayeie khakestary ke roye aks
      // keshide shode hast vase khana bodn matn

      //also in ye tricke css bdone html hast k asasn
      //sudo element gizashtim postesh va lezem nis dege
      //esme class ro toye html biarim
      //va css bahash mse ye element shabihe #bg-img raftar mikone
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        //red green blue alfa : mitone opacity dashte bashe
        //ta akse bg zirsh dide she
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//age yohoii eshghemon kshid ranga ro avaz konim
//msln az khakestari sefid krdim yejahaii koln dige dide nmishe
//baraye hale in moshkel in function ro nvshtim
//baraye in function nvshtim k qarare ye meqdario return kne
//dar hali k mixin mqdario retun nmikone
//va bjaie gozashtane mostaqime color toie code az set-text-color($primary-color) estefade krdim
// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  //esme mixin = mediaSm <--
  //small screens
  @media screen and (max-width: 500px) {
    //this means any css we put inside of here will only
    //apply of the screen in 500px or less

    //since this is a mixin, we are not gonna put our css in here
    //I want to use this mixin elsewhere so all we do here is to put content
    //so anything put inside this mixin in another file
    //we can just add this mixin, It will automaticly put inside content
    @content;
  }
}

@mixin mediaMd {
  //medium screens <-->
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  //large screens (768+1=769) <-->
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  //extra large -->
  @media screen and (min-width: 1171px) {
    @content;
  }
}
