//_config.scss ro import mikone
@import "config";
@import "menu";

// set for every thing
* {
  // age pading dashte bashi toie box model negahesh midare
  box-sizing: border-box;
}

body {
  //_config.scss
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // space between lines vertically
  line-height: 1.5;
}

// Headings : header hamon
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  //{ inja teknike sass hastesh... va mese ine k to css benvisi
  // h1.lg-heading...
  // h2.lg-heading...
  // h3.lg-heading...

  // age & ro nazarim ye class joda mahsob mishe na inke
  // nested shode bashe
  &.lg-heading {
    font-size: 6rem;
    // 6 times of html font size,,,
    //it can be default or you can change html font size
  }

  &.sm-heading {
    margin-bottom: 2rem;

    // hashyeye dore <h2 ro mide ke az bg khodesho bekkane
    padding: 0.2rem 1rem;
    //lighten , 0.5 ro gozashto=im vase opacity k akse poshtesh
    //dide bshe,,, esme fuction ham delkhahe msln rgba gozashtim
    background: rgba(lighten($primary-color, 2), 0.9);
  }
  //}
}

a {
  // range hame chi to index.html
  color: #fff;
  // ezafat hame chi to index.html (az jomle under-line haye zaye
  text-decoration: none;
}

header {
  //menu bottun hamishe bala bayad bashe hata age scroll kard
  position: fixed;
  // mehvare z amod bar safhast va har che adadesh bozorgtar
  //bashe be ma nazdik tare
  z-index: 2;
  //kole screen ro begire
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  //4rem az hame chi fasale migire
  padding: 4rem;
  //height: 100%; it's gonna be the 100% of content that is inside of it
  //pas age content vasate safhe tmom she inam ta hmonja bishtar nmitone biad

  //pas miaim az ye moteqaier estefade mikonim  ke kole 100% safhe ro dar nazar bgire va
  //60px ke ekhtesas be footer dare ro azsh kam kne
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    // inside of index.html each <i wraped in a <a
    a {
      //fasele ofoghi beine icons
      padding: 0.4rem;

      //roye icon raftim hover she be range zard bere
      &:hover {
        color: $secondary-color;
        //tabe nvshtimesh ferestadim to _config.scss :)
        @include easeOut();
      }
    }
  }
  // aln toye main iim va to hichi dige dakhele main nistim
  //in khate paiin har chizi k idie home dashte bashe ro dar bar migire
  &#home {
    //scrollbar nmikham
    overflow: hidden;
    h1 {
      // 100(hundered)qesmat mikone va onjaii mizare k adade shomast
      margin-top: 20vh;
    }
  }
}

.about-info {
  //for get everything in place we use grid
  display: grid;
  grid-gap: 30px; //faseleye beine soton ha
  grid-template-areas:
  //ghalebi k qarare stuffes toie info namayesh dade bshn intorie
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(
    3,
    1fr
  ); //mse ine k bgi (1fr  1fr  1fr),,, in 6 ta item bala ro toe 3 ta ston michine

  .bio-image {
    // mse oni k to ".about-info" dadi bayad bashe
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}
// Work/Projects : classie k khodemon inja ijad krdim va onvar link dadim
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(
    3,
    1fr
  ); // to 3 ta soton bashan <in kochikeshon ham mikone>
  img {
    width: 100%;
    border: 3px #fff solid;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
// contct.html
// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  // vaqti safhe kochik shd eleman ha khodeshon miran toie satr haye jadid
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 2rem;
    border: 3px #fff solid; // mostatile doreshon
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
// Button Styles
// work.html
// 2 dokmeye Project , Github ba icon hashon
.btn {
  // kole widthe block ro migire
  // https://www.w3schools.com/CSSref/playit.asp?filename=playcss_display&preval=block // inja mitoni mesal online bbini :)
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
// work.html
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
// work.html
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
@import "mobile";
